@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, guest!</h1>

<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Github" Size="ButtonSize.Large" Shape="@ButtonShape.Round" OnClick="Login">Login with Github</Button>
